
@media screen and (max-width: 380px) {
  .text_block {
    text-align: center; }
  .left_info {
    margin-top: 50px; }
  .text_btn {
    margin-top: 370px;
    width: 300px; }
  .block_content_number {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 160px;
    left: 0;
    text-align: center; }
    .block_content_number img {
      width: 90%; }
  br {
    display: none; }
  .top_content {
    margin-top: 0; }
  .block_content2_text {
    margin-top: 30px;
    margin-left: 0; }
  .play_block {
    position: relative;
    top: -140px;
    left: 230px; }
    .play_block_img {
      margin-left: -230px; }
  .right_info {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .right_block {
    width: 42%;
    min-height: 150px;
    margin-bottom: 50px; }
  .top_content {
    margin-bottom: -470px; }
  .block_content2 {
    margin-top: 100px; }
  .block_content3 {
    margin-top: 100px;
    margin-bottom: 210px; }
  .section5_btn, .section5_btn2 {
    font-size: 14px; }
  .block_content3_text h2 {
    text-align: center; }
  .block_content3_text p {
    position: relative;
    top: 650px;
    padding: 0 20px; }
    .block_content3_text p:first-child {
      padding-left: -50px;
      background-color: red; }
  .block_content3_text_img {
    width: 100%;
    height: 520px;
    background: url("../img/icons/coffee-mobile.png") no-repeat;
    background-size: 100%;
    margin-left: 0;
    z-index: 55;
    top: 190px;
    position: relative; }
    .block_content3_text_img img {
      display: none; }
  .block_content3_text2 {
    margin-bottom: 100px; }
    .block_content3_text2 img {
      width: 100%;
      position: relative;
      top: -390px; }
    .block_content3_text2 p {
      position: relative;
      top: -270px;
      margin-left: 0;
      margin-top: 0px;
      padding: 0 20px; }
  .section2_blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px; }
  .section2_block1 {
    width: 100%; }
  .section2 .section2_img {
    left: 180px;
    right: -15px;
    top: -180px; }
    .section2 .section2_img img {
      width: 100%; }
  .section2_block1 {
    padding: 30px; }
  .section2_block2 {
    width: 100%;
    height: auto !important;
    margin-left: 0;
    height: 480px;
    padding: 30px; }
  .section2_block2_info {
    text-align: center; }
    .section2_block2_info .text_btn {
      margin-top: 20px;
      width: 100%; }
  .section3 .block_info h2 {
    font-size: 30px;
    text-align: center; }
  .section3 .block_info .block_info_img {
    margin: 0;
    margin-top: -100px;
    width: 100%;
    background: url("../img/icons/monets-mobile.png") no-repeat; }
    .section3 .block_info .block_info_img img {
      display: none; }
  .section3 .block_info .block_info_text {
    margin: 0;
    margin-top: -100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%; }
  .block_info2_img {
    display: none; }
  .block_info2_img2 {
    width: 100%;
    position: relative;
    top: 430px;
    left: 0;
    background: url("../img/icons/book-ico2.png") no-repeat center top; }
  .block_info2_text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    margin-top: -340px;
    margin-right: 0; }
    .block_info2_text img {
      margin: 0;
      margin-right: 50px;
      margin-top: 55px; }
  .m-10 {
    margin: 0; }
  .block_info2_carts {
    margin-top: -80px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .block_info2_carts h2 {
      position: relative;
      top: -500px;
      margin-bottom: 0px;
      font-size: 30px;
      text-align: center; }
  .block_info3 {
    margin-top: 70px; }
    .block_info3 h2 {
      text-align: center; }
  .block_info3_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px; }
    .block_info3_text_img {
      margin-right: 0;
      margin-bottom: 15px; }
  .block_info3 .block_info2_text {
    top: 0;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .block_info3 .block_info2_text img {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .block_info3_phone {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 350px;
    position: static;
    margin-top: 120px;
    background-size: 100%; }
  .section3 {
    padding-bottom: 0px; }
  .section4 {
    padding-top: 30px; }
  .section4_blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 150px; }
    .section4_blocks .section4_block1 {
      width: 100%;
      margin-bottom: 30px;
      padding: 30px; }
    .section4_blocks .section4_block2 {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 30px;
      text-align: center; }
      .section4_blocks .section4_block2 .text_btn {
        margin-top: 20px;
        width: 100%; }
    .section4_blocks .section2_img {
      position: relative;
      width: 100%;
      left: 0;
      top: -110px;
      margin-top: -530px;
      text-align: center; }
      .section4_blocks .section2_img img {
        width: 95%; }
  .section5_block2_item span {
    font-size: 21px; }
  .section5_block3 {
    margin-top: 30px; }
  .section5_block2_item_img_cont {
    display: none; }
  .section5_block2_item_arrow::after,
  .section5_block2_item_arrow::before,
  .section5_block2_item_arrow2::after,
  .section5_block2_item_arrow2::before,
  .section5_block2_item_arrow3::after,
  .section5_block2_item_arrow3::before,
  .section5_block2_item_arrow4::after,
  .section5_block2_item_arrow4::before {
    display: none; }
  .section5_item5 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .mb-150 {
    display: none; }
  .section5_block2_item_img_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .section5_block2 {
    margin-top: 30px; }
  .section5_block2_items {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .section5_block2_items .section5_block2_item {
      width: 45%;
      margin-bottom: 30px; }
  .section5 {
    padding-bottom: 40px; }
    .section5 .section5_block3 {
      margin-bottom: -200px; }
    .section5 .section5_block3_cont {
      padding: 30px 70px; }
    .section5 .section5_block3_h {
      display: none; }
    .section5 .section5_block3_cont2 {
      margin: 0;
      width: 100%;
      margin-top: 150px;
      padding: 30px 50px; }
      .section5 .section5_block3_cont2_img {
        width: 100%;
        background-size: 95%;
        background-position: center top;
        position: relative;
        top: -1000px;
        margin: 0;
        height: 200px; }
    .section5 .section5_block4_img {
      margin-top: -130px;
      width: 100%; }
      .section5 .section5_block4_img img {
        width: 100%; }
    .section5 .section5_block4_items {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .section5 .section5_block4_items_item {
      width: 46%; }
    .section5 .mr-120 {
      margin-right: 0; }
    .section5 .section5_block4_items_item_top {
      padding-left: 0; }
    .section5 .section5_block4_items2 {
      padding: 0 15px; }
  .section6 {
    padding-top: 75px;
    background: #fff; }
  .section6_block {
    padding: 0px 0; }
    bgc
.section6_block .section6_block_packages {
      margin-top: 0; }
    .section6_block .section6_block_text {
      display: none; }
    .section6_block .section6_block_start, .section6_block .section6_block_premium {
      width: 100%; }
    .section6_block .text_btn {
      width: 100%;
      margin-bottom: 20px; }
  .section6 .section6_start {
    top: -1780px;
    left: 0;
    right: 0;
    width: 60%;
    height: 300px;
    background-size: 100%;
    z-index: 1;
    margin: 0 auto; }
  .section6_block_premium {
    margin-top: 200px; }
  .section6_block {
    z-index: auto !important; }
  .section6 .section6_premium {
    width: 60%;
    background-size: 100%;
    left: 0;
    right: 0;
    top: 810px;
    z-index: 7;
    margin: 0 auto; }
  .section7 {
    padding-top: 50px;
    padding-bottom: 0; }
    .section7_block h2 {
      font-size: 30px;
      text-align: center;
      line-height: 45px; }
    .section7_block p {
      font-size: 16px;
      line-height: 20px; }
    .section7 .section7_block2_item {
      text-align: center;
      margin-bottom: 20px; }
      .section7 .section7_block2_item .section7_block2_item_h {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .section7 .section7_left_hand {
      width: 30%;
      height: 400px;
      background-size: 100%;
      left: 0;
      bottom: 175px; }
    .section7 .section7_right_hand {
      width: 50%;
      height: 400px;
      background-size: 100%;
      right: 0px;
      bottom: 290px; }
    .section7 .section7_block3 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin-top: 230px;
      border-bottom: none; }
  .section7_logo_mobile {
    display: block; } 
  .yellow_text2 {
    margin-left: 0;
    /*padding-left: 0 !important;*/
  }

  .section2 .section2_img {
    width: 50%;
    left: 110px;
    /*right: 11px;*/
    top: -150px;
  }

}

@media screen and (min-width: 375px) and (max-width: 576px) {
  .section5 .section5_block3_cont2_img {
    top: -790px;
  }

  .play_block {
    position: relative;
    top: -140px;
    left: 270px; 
  }

  .block_content_number {
    top: 120px;
  }

  .section2 .section2_img {
    width: 50%;
    left: 220px;
    /*right: 11px;*/
    top: -170px;
  }

  .block_content3 {
    padding-bottom: 100px;
  }

  .yellow_text2 {
    margin-left: 0;
    /*padding-left: 0 !important;*/
  }
  
  .block_info2_carts h2 {
    top: -440px;
  }
  .block_info2_text {
    margin-top: -280px;
  }

  .section4_blocks .section2_img {
    top: -190px;
  }

  .block_info2_cart p {
    margin-top: 10px;
    font-size: 13px;
  }

  .section4_blocks .section4_block1 {
    margin-bottom: 0;
  }

  .section5 .section5_block4 h2 {
    margin-top: 20px;
  }

}



/*@media screen and (min-width: 576px) and (max-width: 992px) {}*/

@media screen and (min-width: 993px) and (max-width: 1024px) {
  .section2 .section2_img {
    top: -30px;
  }
  .top_nav_links a {
    font-size: 12px;
  }

  .top_nav_links {
    width: 90%;
    margin-left: 60px;
  }

  .block_info2_text {
    left: -20px;
  }

  .block_info2_cart {
    padding: 30px;
  }

  .block_info2_cart p {
    margin-top: 10px !important;
    font-size: 10px !important;
  }

  .block_info2_carts h2 {
    margin-top: -100px;
    margin-bottom: 80px;
  }

  .block_info3_phone {
    left: -290px;
  }

  .section5_block2 {
    margin-top: 110px;
  }

  .section5_block2_item_img_book {
    /*top: 40% !important;*/
    width: 260px;
    top: 37%;
  }

  .section5_block2_item_img {
    width: 550px;
    top: -120px;
    left: -100px;
  }

  .item7, .item10 {
    /*margin-right: 44px !important;*/
    margin-right: 0 !important;
  }

  .items2_responsive .mr-120, .r_mr-120 {
    margin-right: 92px;
  }

  .section5_item5 {
    /*padding-left: 80px;*/
  }

  .mb-150 {
    margin-bottom: 100px;
  }

  .section5_block4_img {
    margin-left: -70px;
  }

  .section5_block1 .section5_btn, 
  .section5_block1 .section5_btn2,
  .section5_btn_active {
    font-size: 13px !important;
  }

  .section5_block4_items_item_top  {
    width: 400px;
  }

  .section5_block4_items_item_top {
    padding-left: 150px;
  }
  .yellow_text2 {
    margin-left: 0;
  }

  .section6_premium {
    top: -160px;
  }

}

@media screen and (max-width: 768px) and (min-width: 576px){
    .mobile_btn {
      margin-top: 45px;
    }

    .section5_block1 .section5_btn, 
    .section5_block1 .section5_btn2,
    .section5_btn_active {
      font-size: 13px !important;
    }

    .block_info2_cart {
      padding: 25px;
    }

    .block_info2_cart p {
      margin-top: 10px !important;
      font-size: 14px !important;
    }

    .block_info br {
      display: none;
    }

    .block_info h2 {
      font-size: 35px;
      text-align: center;
    }

}